body {
    background-color: black
}

#voilet {
    background-color: violet;
}

.brown {
    background-color: brown;
    color: bisque
}

.content {
    color: rgb(200, 255, 80);
}

.heading {
    color: aqua;
}

h3,.sub-heading {
    color: blue
}

.internal-heading {
    color: red;
    background-color: grey;
}

.note {
    color: violet;
}

